name: Dagger - CPU, User & Hostname Check

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  info-check:
    runs-on: ubuntu-latest
    name: Show System Info via Dagger Cloud
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run whoami, hostname, lscpu in Dagger
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: latest
          shell: container | from ubuntu:24.04 | with-exec sh -c "echo 'Whoami:' && whoami && echo 'Hostname:' && hostname && echo 'Full lscpu:' && lscpu" | stdout
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
          debug: true  # optional, biar log detail
