name: Dagger - Run lscpu

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:  # bisa di-trigger manual dari GitHub UI

jobs:
  show-cpu:
    runs-on: ubuntu-latest
    name: Show CPU Info via Dagger Cloud
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run lscpu in Dagger container
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: latest
          shell: container | from ubuntu:24.04 | with-exec lscpu | stdout
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
          debug: true  # biar log lebih detail kalau ada issue
